@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tbody>
        <tr>
            <td>
                <span>image 1</span>
            </td>
            <td>
                <span>image 2</span>
            </td>
            <td>
                <span>image 3</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>image 4</span>
            </td>
            <td>
                <span>image 5</span>
            </td>
            <td>
                <span>image 6</span>
            </td>
        </tr>
    </tbody>
</table>

