@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 150px;
        height: 150px;
    }
</style>

<table>
    <tbody>
        <tr>
            <td rowspan="3">
                <img src="~/Images/ImageProfile.jpg" alt="Profile Image" />
                </td>
            <td>
                <span>Pedro I Zavala</span>
                <button>Follow</button>
            </td>
        </tr>
        <tr>
            <td>
                <span>6 Post</span>
                <span>No Followers</span>
                <span>0 Followers</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>This is an example description</span>
            </td>
        </tr>
    </tbody>
</table>
<br />
<a href="#">POSTS</a>
<a href="#">REELS</a>
<a href="#">IGTV</a>
<a href="#">TAGGED</a>
<br />
<table>
    <tbody>
        <tr>
            <td>
                <img src="~/Images/Image01.jpg" alt="Image 1" />
            </td>
            <td>
                <img src="~/Images/Image02.jpg" alt="Image 2" />
            </td>
            <td>
                <img src="~/Images/image03.jpg" alt="Image 3" />
            </td>
        </tr>

        <tr>
            <td>
                <img src="~/images/Image04.jpg" alt="Image 4" />
            </td>
            <td>
                <img src="~/Images/Image01.jpg" alt="Image 1" />
            </td>
            <td>
                <iframe width="150px" height="150px" src="https://www.youtube.com/embed/LUXjdnmy2OE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
        </tr>
    </tbody>
</table>

